$red: linear-gradient(238.08deg, #d4208c 0.42%, #e61726 82.5%);
$text-gradient: linear-gradient(145.08deg, #e61726 12.35%, #d4208c 83.63%);

button {
  color: white;
  border: none;
  background: $red;
  border-radius: 4px;
  font-weight: 800;
  font-size: 23px;
  height: 50px;
}

button:hover {
  cursor: pointer;
}

body {
  margin: 0;
}

* {
  font-family: "Open Sans";
}

.blurred {
  filter: blur(10px);
}

.landing {
  &_wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
  }
  &_image-container {
    width: 40%;
    height: 70%;
    margin-left: 20px;
    display: flex;
  }
  &_image {
    background-image: url("../assets/image.png");
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  &_content {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    justify-content: center;
    align-items: start;

    &-header {
      background: $text-gradient;
      background-clip: text;
      color: transparent;
      font-size: 60px;
      font-weight: 800;
      margin: 0;
      margin-bottom: 30px;
      line-height: 110%;
    }
  }
  &_item-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    flex: 0 1 auto;
    &_number {
      background: $red;
      margin-right: 10px;
      background-clip: text;
      color: transparent;
      font-size: 45px;
      font-weight: 800;
    }
    &_text {
      font-size: 38px;
      font-weight: 600;
      width: 100%;
    }
    &_signup-button {
      flex-grow: 1;
      font-family: "Open Sans";
    }
  }
}

@media screen and (max-width: 900px) {
  .landing {
    &_wrapper {
      flex-direction: column;
      width: auto;
      justify-content: unset;
      padding: 10px;
      padding-bottom: 0;
      box-sizing: border-box;
    }

    &_image-container {
      width: 100%;
      height: 45%;
      margin: 0;
      margin-top: 10px;
    }
    &_content {
      max-width: 100%;
      margin-top: 10px;
      &-header {
        font-size: 35px;
        width: 80%;
        margin-bottom: 20px;
      }
    }
    &_item_wrapper {
      margin-bottom: 10px;
      &_number {
        font-size: 33px;
      }
      &_text {
        font-size: 18px;
      }
      &_signup_button {
        height: 40px;
        font-size: 13px;
      }
    }
  }
}
