$red: linear-gradient(238.08deg, #D4208C 0.42%, #E61726 82.5%);
$gray:  #3A3A3A;
$error-red:  #FF0000;
$text-gradient: linear-gradient(145.08deg, #E61726 12.35%, #D4208C 83.63%);


.popup_wrapper {
  background: white;
  height: 70vh;
  width: 70vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #0000001A;
}
.no-show {
  visibility: hidden;
}

.cross {
  background-image: url("../assets/cross.svg");
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}
.cross:hover {
  cursor: pointer;
}

.form {
  &_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    padding: 20px;
  }
  &_input-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;


  }
  &_email, &_password {
    border: 0;
    width: 100%;
    border-bottom: 0.5px solid #3A3A3A;
  }
  &_email::placeholder, &_password::placeholder { 
    text-align: center;
  }

  &_email-error, &_password-error {
    border-color: $error-red;
  }

  &_title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700;
  }
  &_submit {
    border: 0;
    background: $red;
    width: 50%;
    height: 50px;
    letter-spacing: 5px;
  }
}
.hidden {
  display: none;
}

.success {
  &_wrapper {
    width: 80%;
  }
  &_title {
    font-size: 77px;
    font-weight: 800;
      background: $text-gradient;
  background-clip: text;
  color: transparent;
  text-align: center;
  }
  &_message {
    font-size: 28px;
    font-weight: 700;
    text-align: center;

  }
}

.email_error-icon, .password_error-icon {
  background-image: url("../assets/error.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 1rem;
  position: absolute;
  right: 0;
  top: 30%;
  transform: translateY(-50%);
  pointer-events: none;
}

.email_message, .password_message {
  color: $error-red;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .popup_wrapper {
    width: 90vw;
  }

  .form {
    &_wrapper {
      width: 100%;
    }
    &_title {
      font-size: 17px;
    }
    &_submit {
      font-size: 12px;
    }
  }
  .success {
  &_wrapper {
  }
  &_title {
    font-size: 39px;
  }
  &_message {
    font-size: 14px;
  }
}
}